@import "tailwindcss";

.card-table {
    padding: 20px 60px;
    border: solid 4px ;
    border-color: rgba(236, 158, 13, 0.918);
    border-radius: 20px;
    margin: 20px;
    transition: 0.5s;
}

.bg-dark, .bg-white {
  transition: 0.6s;
}
.card-table p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.card-table:hover {
    background-color: orange;
    transition: 0.5s;
    transform: scale(1.1);
}

.btn-starting{
    border: solid 3px orange;
    border-radius: 16px;
    transition: 0.5s;
}

.btn-starting:hover{
    transition: 0.5s;
    background-color: orange;
}

table tr,
td {
    border: none;
    border-color: none;
}

.card-table table {
    margin-top: 16px;
}

.icon-gear{
    animation: rotate 2s infinite ease-in-out;
    display: inline;
}


.iconArrowRight {
    font-size: 20px;
    margin: 0 10px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}